// Spinner on page load.
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* becomes visible and comes in from the right */
@keyframes moveInLeft {
  /* before the animation starts */
  0% {
    opacity: 0;
    /* moved on the X axis, so horizontally, negative means more to the left */
    transform: translateX(50rem);
  }

  /* when the animation is finished */
  100% {
    opacity: 1;
    /* the way it looks now (already declared) */
    transform: translate(0);
  }
}
