@-ms-viewport {
  width: device-width;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* this makes every element to inherit the border-box sizing declared in the body, because the box-sizing property
  is not inherited by default */
  box-sizing: inherit;
  vertical-align: baseline;
}

html {
  /* so 1 rem means 10px from now on */
  /* calculated into %, so when the user changes their browser's default font-size (which is by default 16px),
    this allows them to resize it also. 10px is 62.5% of 16px. */
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  // overflow: scroll;

  // Order matters!
  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    // width < 600?
    height: auto;
    // min-width: 40rem;
    width: 100%;
    font-size: 48%;
  }

  @include respond(big-desktop) {
    // width > 1800?
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -ms-overflow-style: scrollbar;
  width: 100%;
  height: 100%;
  min-height: 35rem;
  // overflow: hidden;

  &::after {
    pointer-events: none;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-color: #faececab;
    background-repeat: repeat, repeat-x;
    background-size: 128px 128px, cover;
  }

  @include respond(phone) {
    height: auto;
    // min-width: 40rem;
    // overflow-x: hidden;
    overflow-y: auto;
    flex-shrink: 0;
  }
}

::selection {
  background-color: $color-pink;
  color: $color-white;
}

// setting custom scrollbar
html {
  --scrollbarBG: whitesmoke;
  --thumbBG: #de6c74;
}
body::-webkit-scrollbar {
  width: 1rem;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

// if I want to hide the scrollbar: + uncomment html overflow:scroll
// ::-webkit-scrollbar {
//   width: 0px; //remove scrollbar space /
//   height: 0px;
//   background: transparent; // optional: just make scrollbar invisible
// }
// ::-webkit-scrollbar-thumb {
//   background: red; // optional: show position indicator in red
// }
