/*
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800] is where our normal styles apply
  1800px + :      Big desktop
  
  $breakpoint argument choices:
  - phone
  - tab-port (tablet portrait)
  - tab-land (tablet landscape)
  - big-desktop
  
  ORDER: Base + typography > general layout + grid > page layout > components
  */
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-ms-viewport {
  width: device-width; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* this makes every element to inherit the border-box sizing declared in the body, because the box-sizing property
  is not inherited by default */
  box-sizing: inherit;
  vertical-align: baseline; }

html {
  /* so 1 rem means 10px from now on */
  /* calculated into %, so when the user changes their browser's default font-size (which is by default 16px),
    this allows them to resize it also. 10px is 62.5% of 16px. */
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -ms-overflow-style: scrollbar;
  width: 100%;
  height: 100%;
  min-height: 30rem;
  overflow: hidden; }
  body::after {
    pointer-events: none;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-color: #faececab;
    background-repeat: repeat, repeat-x;
    background-size: 128px 128px, cover; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #de6c74;
  color: #fff; }

#intro {
  background-color: #de6c74; }

.lds-dual-ring {
  display: inline-block;
  width: 8rem;
  height: 8rem; }
  .lds-dual-ring::after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    margin: -2rem 0 0 -2rem;
    border-radius: 50%;
    border: 6px solid #2e2b37;
    border-color: #2e2b37 transparent #2e2b37 transparent;
    animation: lds-dual-ring 1.4s linear infinite;
    opacity: 0.3; }

#app {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  padding: 5rem; }
