.span {
  &-2 {
    width: 20rem;
    &-5 {
      width: 25rem;
    }
  }
  &-3 {
    width: 30rem;
  }
  &-4 {
    width: 40rem;
    &-5 {
      width: 45rem;
    }
  }
  &-5 {
    width: 50rem;
    &-5 {
      width: 55rem;
    }
  }
  &-6 {
    width: 60rem;
    &-5 {
      width: 65rem;
    }
  }
  &-7 {
    width: 70rem;
    &-5 {
      width: 75rem;
    }
  }
}
