.span {
  &-4 {
    width: 40rem;
    @include respond(phone) {
      width: 100%;
    }
    &-5 {
      width: 45rem;
      @include respond(phone) {
        width: 100%;
      }
    }
  }
  &-5 {
    width: 50rem;
    &-5 {
      width: 55rem;
      @include respond(phone) {
        width: 100%;
      }
    }
  }
  &-6 {
    width: 60rem;
    &-5 {
      width: 65rem;
    }
  }
  &-7 {
    width: 70rem;
    &-5 {
      width: 75rem;
      @include respond(phone) {
        width: 100%;
      }
    }
  }
}
