#first {
  background-image: linear-gradient(
    45deg,
    whitesmoke,
    rgb(224, 180, 183),
    rgb(226, 131, 137),
    $color-pink
  );
  z-index: 2;
  box-shadow: 0 3rem 5rem 1.2rem transparentize($color-grey-dark, 0.425);

  .title {
    font-size: 4rem;
    line-height: 1.5;
  }

  .name {
    color: #00c9d0;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.452));
    -webkit-text-stroke: 0.5px rgba(133, 127, 127, 0.562);
    font-size: 4.5rem;
    animation: moveInLeft 2s ease-out 0.5s;
    animation-fill-mode: backwards;
  }

  p {
    font-weight: 400;
  }

  @include respond(phone) {
    box-shadow: none;
  }
}

.arrow {
  border: 2px solid transparent;
  transition: all 0.3s ease;
  position: absolute;
  right: 1.5rem;
  bottom: 45%;
  border-radius: 100%;
  text-indent: 0;
  line-height: 0;
  backface-visibility: hidden;
  background-color: transparent;
  fill: whitesmoke;
  appearance: none;
  color: $color-text;

  &:hover {
    bottom: 46%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid transparent;
  }

  &:active,
  &:focus {
    bottom: 45.5%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    outline: none;
  }

  &__icon {
    font-size: 4rem;
  }

  @include respond(phone) {
    display: none;
  }
}
