#fourth {
  background-color: $color-wencel;
  box-shadow: 0 3rem 5rem 1.2rem transparentize($color-grey-dark, 0.425);
  //   z-index: 2;
  color: $color-white;

  .content {
    padding: 2rem 2rem;
    justify-content: start;
  }

  a {
    border-bottom: none;
  }
}

.fourth {
  &__list {
    column-count: 2;
    column-rule: 1px solid $color-text;
    hyphens: auto;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin: 0 2rem;
  }

  &__pic {
    width: 100%;
  }
}

.btn {
  // this gets translated to the btn element only as well, because <button> don't have :link or :visited pseudoclasses
  &,
    /* pseudo-classes are used in special cases */
    &:link,
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    /* first: top&bottom, second: right&left; with 4: top right bottom left */
    padding: 1rem 2rem;
    margin-top: 2rem;
    display: inline-block;
    border-radius: 10rem;
    /* all the properties are enabled to be animated */
    transition: all 0.3s;
    position: relative;
    font-size: 1.4rem;
    width: fit-content;
    align-self: center;

    //Change for the <button> element
    // border: none;
    border-bottom: dotted 1px;
    cursor: pointer;
  }

  &:hover {
    /* negative means up on the Y axis */
    transform: translateY(-3px);
    /* x direction, y direction blur */
    box-shadow: 0 2rem 3rem rgba($color-black, 0.2);
    color: inherit;
  }

  /* active is when we click on the element */
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-wencel;
    color: $color-text;

    &::after {
      background-color: $color-wencel;
    }
  }

  /* after is a pseudo element placed after another element */
  &::after {
    /* we have to specify the content and display properties in order to work */
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* measured to the first relative parent it can find */
    position: absolute;
    /* we want it right behind the button */
    top: 0;
    left: 0;
    z-index: -1;
    /* put the transition property on the initial element */
    transition: all 0.4s;
  }

  //   &--animated {
  //     animation: moveInBottom 0.5s ease-out 0.75s;
  //     /* animation will be applied before it starts - so the button won't appear before the delay */
  //     animation-fill-mode: backwards;
  //   }
}

.remove-style {
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: 1.4rem;
  text-transform: uppercase;
  border: none;
}
