#fourth {
  // background-color: $color-wencel;
  background-image: linear-gradient(
    45deg,
    transparentize($color-pink, 0.2),
    $color-wencel
  );
  box-shadow: 0 3rem 5rem 1.2rem transparentize($color-grey-dark, 0.425);
  //   z-index: 2;
  color: $color-text;
  z-index: 10;

  .content {
    padding: 2rem 2rem;
    justify-content: start;
    z-index: 10;

    h2 {
      margin-top: 1.5rem;
      margin-left: 1rem;
      color: $color-text;
    }
  }

  a {
    border-bottom: none;
  }
}

.fourth {
  z-index: 10;

  &__list {
    column-count: 2;
    column-rule: 1px dotted $color-text-light;
    hyphens: auto;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
  }

  &__text {
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    margin-top: 3rem;
  }

  &__item {
    margin: 0 0 0 4rem;
  }

  &__pic {
    width: 100%;
  }

  &__icon {
    // we can use font attributes on the icon, because the icon font is text
    font-size: 2rem;
    margin: 0.5rem;
    display: inline-block;
    color: $color-text;
    transition: all 0.5s ease;
    backface-visibility: hidden;

    &:hover {
      transform: scale(1.2);
      color: $color-blue-light;
    }
  }

  &__info {
    display: inline-block;
    width: 4rem;
    z-index: 4;
    position: absolute;
    right: 13rem;
    bottom: 3.5rem;
    // visibility: hidden;
  }
}

.btn {
  // this gets translated to the btn element only as well, because <button> don't have :link or :visited pseudoclasses
  &,
    /* pseudo-classes are used in special cases */
    &:link,
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    /* first: top&bottom, second: right&left; with 4: top right bottom left */
    padding: 1rem 2rem;
    // margin-top: 1rem;
    display: inline-block;
    border-radius: 0.5rem;
    /* all the properties are enabled to be animated */
    transition: all 0.3s;
    position: relative;
    width: fit-content;
    align-self: center;
    z-index: 4;
    color: $color-text;

    //Change for the <button> element
    // border: none;
    border-bottom: dotted 1px;
    cursor: pointer;
  }

  &:hover {
    /* negative means up on the Y axis */
    transform: translateY(-3px);
    /* x direction, y direction blur */
    box-shadow: 0 2rem 3rem rgba($color-black, 0.2);
    color: inherit;
  }

  /* active is when we click on the element */
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: transparent;
    color: $color-text;

    &::after {
      background-color: transparent;
    }
  }

  &--text {
    position: absolute;
    right: 15rem;
    bottom: 2rem;
  }

  /* after is a pseudo element placed after another element */
  &::after {
    /* we have to specify the content and display properties in order to work */
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* measured to the first relative parent it can find */
    position: absolute;
    /* we want it right behind the button */
    top: 0;
    left: 0;
    z-index: -1;
    /* put the transition property on the initial element */
    transition: all 0.4s;
  }

  //   &--animated {
  //     animation: moveInBottom 0.5s ease-out 0.75s;
  //     /* animation will be applied before it starts - so the button won't appear before the delay */
  //     animation-fill-mode: backwards;
  //   }
}

.remove-style {
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
}

#project_title {
  margin-bottom: 3rem;
}
