#intro {
  box-shadow: 0 3rem 5rem 1.2rem transparentize($color-grey-dark, 0.425);
  animation: moveInLeft_section 2s ease-out 0.5s;
  animation-fill-mode: backwards;
  z-index: 0;

  @include respond(phone) {
    animation: none;
    display: none;
  }
}

.intro {
  &__container {
    overflow: hidden;
  }
  &__pic {
    width: 100%;
  }
}

@keyframes moveInLeft_section {
  /* before the animation starts */
  0% {
    opacity: 0;
    transform: translateX(50rem);
    box-shadow: none;
  }

  /* when the animation is finished */
  100% {
    opacity: 1;
    transform: translate(0);
    box-shadow: 0 3rem 5rem 1.2rem transparentize($color-grey-dark, 0.425);
  }
}
