.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: rgba($color-black, 0.8);
  transition: all 0.3s;

  // if the given attributes are supported in the browser, do this
  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  &__right {
    margin: 2rem;
    @include respond(phone) {
      margin: 1rem 1.5rem;
    }
  }

  &__titles {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    margin: 0 8.5rem;
    font-size: 2rem;
  }

  &__title {
    padding: 0.8rem 1.4rem;
    align-self: center;
    background-color: rgb(90, 5, 19);
    color: inherit;
    font-family: "Expletus Sans", Helvetica, sans-serif;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: all 0.5s;

    &--selected,
    &:focus {
      outline: none;
      background-color: inherit;
      border: 2px solid $color-text;
    }
  }

  &__content {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(45deg, $color-pink, $color-wencel);
    width: 75%;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    overflow: hidden;
    text-align: center;

    @include respond(tab-land) {
      width: 86%;
      height: auto;
    }
    @include respond(phone) {
      padding: 3%;
      display: flex;
      flex-direction: column;
    }
    @media only screen and (max-width: 18.75em) {
      //300px
      height: 90%;
      // able to scroll down/up but the bar is invisible
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 0px; //remove scrollbar space /
        height: 0px;
        background: transparent; // optional: just make scrollbar invisible
      }
    }
  }

  &__link {
    border-bottom: none;

    i {
      font-size: 2.5rem;
      margin-left: 1rem;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__pic--container {
    display: flex;
    align-items: flex-start;
    @include respond(phone) {
      // position: relative;
      justify-content: center;
    }
  }
  &__pic {
    // if img is inline/inline-block, it has a small space after it at the bottom
    display: block;
    width: 100%;
    border: 2px solid $color-text-light;
    // width: 100%;
    // height: 100%;

    @include respond(phone) {
      // position: relative;
      width: 60%;
      align-self: center;
    }
  }

  &__text {
    // width: 32%;
    // float: right;

    font-size: 1.7rem;
    margin: 2% 4%;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond(tab-land) {
      font-size: 1.6rem;
    }
    @include respond(phone) {
      width: 90%;
      float: none;
      margin: 3%;
      padding: 0;
    }
  }

  &__button {
    margin: 0.5rem;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
  }

  @include respond(tab-land) {
    transition: none !important;
  }
}
