#third {
  background-color: $color-blue-light;
  box-shadow: 0 3rem 5rem 1.2rem transparentize($color-grey-dark, 0.425);
  z-index: 2;
  color: $color-white;

  @include respond(phone) {
    box-shadow: none;
  }
}
